ul {
    list-style-type: none;
    background-color: lawngreen;
    overflow: hidden;
    margin: auto;
    margin-right: 0px;
    margin-top: 0px;
    position: static;
    width: 600px;
}
li  {
float: right;
display: block;
padding: 10px 15px;
text-align: center;
min-width: 60px;
border-right: 1px solid;
}
li:hover {
    background-color: red;
}
a:active {
    color: red;
}